@import "./utils.css";
@import "./tasks.css";

header {
  padding: 0.7rem 1.3rem;
  min-height: 50px;
  height: 10vh;
}

.header-logo {
  text-decoration: none;
  gap: 5px;
}

.header-logo img {
  width: 2rem;
}

main {
  height: 90vh;
  margin: 10px;
}

#main-inp-container {
  background-color: var(--color-pop);
  width: 90vw;
  border-radius: 20px;
  max-width: 650px;
  cursor: text;
  padding: 15px 20px;
}

.expanded-main-inp-container {
  display: grid;
  grid-template-areas:
    "inp inp inp"
    "details details details"
    "space space btn";
  justify-items: end;
  gap: 10px 0;
}

#main-input {
  border: none;
  outline: none;
  justify-self: start;
  width: 100%;
  grid-area: inp;
}

#main-input::placeholder {
    color: var(--color-sub-text);
}

#details-inp-container {
  gap: 5px;
  height: 0;
  overflow-y: hidden;
  transition: 0.3s all;
  grid-area: details;
  width: 100%;
}

#details-inp-container span {
    color: var(--color-sub-text);
}

#details-input {
  border: none;
  outline: none;
  justify-self: start;
  width: 100%;
  grid-area: details;
  font-size: 0.8rem;
}

#details-input::placeholder {
    color: var(--color-sub-text);
}

#add-task-btn {
  grid-area: btn;
  background-color: transparent;
  border: none;
  align-self: flex-end;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
  height: 0;
  overflow-y: hidden;
  transition: 0.3s all;
}

#add-task-btn:hover{
  color: var(--color-primary);
}

#add-task-btn span {
  font-size: 1.5rem;
  font-weight: 300;
  color: inherit;
}

#tasks-container {
  width: 100vw;
  margin: 25px 10px;
}
