@import "./utils.css";
@import "./navbar.css";
@import "./tasks.css";

main {
  height: 80vh;
  margin: 10px;
  justify-content: center;
}

main h1 {
  margin-bottom: 20px;
  text-shadow: 2px 2px var(--color-shadow);

  animation-name: bottom-to-top;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  
  text-align: center;
}

#main-inp-container {
  background-color: var(--color-pop);
  width: 90vw;
  border-radius: 20px;
  max-width: 650px;
  cursor: text;
  padding: 15px 20px;
  animation-name: top-to-bottom;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.expanded-main-inp-container {
  display: grid;
  grid-template-areas:
    "inp inp inp"
    "details details details"
    "space space btn";
  justify-items: end;
  gap: 10px 0;
}

#main-input {
  border: none;
  outline: none;
  justify-self: start;
  width: 100%;
  grid-area: inp;
  background-color: transparent;
}

#main-input::placeholder {
  color: var(--color-sub-text);
}

#details-inp-container {
  gap: 5px;
  height: 0;
  overflow-y: hidden;
  transition: 0.3s all;
  grid-area: details;
  width: 100%;
}

#details-inp-container span {
  color: var(--color-sub-text);
}

#details-input {
  border: none;
  outline: none;
  justify-self: start;
  width: 100%;
  grid-area: details;
  font-size: 0.8rem;
  background-color: transparent;
}

#details-input::placeholder {
  color: var(--color-sub-text);
}

#add-task-btn {
  grid-area: btn;
  background-color: transparent;
  border: none;
  align-self: flex-end;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
  height: 0;
  overflow-y: hidden;
  transition: 0.3s all;
}

#add-task-btn:hover {
  color: var(--color-primary);
}

#add-task-btn span {
  font-size: 1.5rem;
  font-weight: 300;
  color: inherit;
}

#tasks-container {
  width: 100vw;
  padding: 25px 15px;
  position: relative;
  padding-bottom: 100px;
}

#tasks-container .zero-tasks-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tasks-container .zero-tasks-msg span {
  text-align: center;
}

#completed-tasks-container {
  min-height: 60vh;
  width: 100vw;
  padding: 25px 15px;
  padding-bottom: 100px
}

#completed-tasks-container > span {
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

#completed-tasks-container > img {
  width: 100px;
}
