.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.tasks-complete-bg {
  min-height: 80vh;
  background-image: url("../assets/images/allTasksComplete.png");
  background-size: 200px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.task-base {
  transition: 0.3s all;
  position: relative;
}

.task {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  background-color: var(--color-pop);
  border-radius: 20px;
  max-width: 350px;
  min-width: 280px;
  cursor: grab;
}

.task .open-task-only {
  display: none;
}

.task:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 0 var(--color-shadow);
  outline: 1px solid var(--color-primary);
}

.task-animate {
  animation-name: task-pop;
  animation-iteration-count: 1;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

@keyframes task-pop {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.task-base input[type="checkbox"] {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px !important;
  height: 25px !important;
  border: 1px solid var(--color-success);
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.task-base input[type="checkbox"]:checked {
  background-color: var(--color-success);
  animation-name: checkbox-pop;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: 0.3s transform;
}

@keyframes checkbox-pop {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.task-base input[type="checkbox"]:checked::before,
.task-base input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  border-radius: 2px;
  height: 2px;
}

.task-base input[type="checkbox"]:checked::before {
  width: 0;
  transform-origin: 0 0;
  transform: rotate(45deg);
  top: 47%;
  left: 30%;
  animation-name: tick-before-anim;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

.task-base input[type="checkbox"]:checked::after {
  width: 0;
  left: 40%;
  top: 63%;
  transform-origin: 0% 50%;
  transform: rotate(-47deg);
  animation-name: tick-after-anim;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes tick-before-anim {
  0% {
    width: 0;
  }

  100% {
    width: 25%;
  }
}

@keyframes tick-after-anim {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

.task h3,
.task p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 85%;
}

.task h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.task p {
  font-size: 0.8rem;
}

.task-base .btns-container {
  display: flex;
  gap: 7px;
  margin-top: 7px;
}

.task-base .btn-details {
  background: linear-gradient(30deg, var(--color-primary), var(--color-opt));
  color: var(--color-pop);
  transition: 0.3s all;
}

.task-base .btn-delete {
  background-color: var(--color-danger);
  color: var(--color-pop);
  transition: 0.3s all;
}

.task-base .btn-mark-done {
  background-color: var(--color-pop);
  color: var(--color-success);
  transition: 0.3s all;
  border: 2px solid var(--color-success);
}

.task-base .btn-mark-done:hover {
  background-color: var(--color-success);
  color: var(--color-pop);
}

.task-base .btn-close-task {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 20px;
  border: none;
}

.task-base .btn-close-task span {
  display: block;
  width: 30px;
  height: 1px;
  background-color: var(--color);
}

.task-base .btn-close-task:hover span {
  background-color: var(--color-primary);
}

.task-base .btn-close-task span:first-child {
  transform: rotateZ(45deg);
}

.task-base .btn-close-task span:last-child {
  transform: rotateZ(-45deg);
}

.task-base .btn-details:hover,
.task-base .btn-delete:hover {
  transform: scale(1.05);
}

.task-base .btn-details:active,
.task-base .btn-delete:active,
.task-base .btn-mark-done:active {
  transform: scale(0.95);
}

.task-expanded {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 90vw;
  max-width: 1000px;
  height: 90vh;
  max-height: 800px;
  z-index: 20;
  background-color: var(--color-pop);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.task-expanded .closed-task-only {
  display: none;
}

.task-expanded h3 {
  font-size: 3rem;
  text-overflow: clip;
  text-align: center;
}

.task-expanded p {
  font-size: 1.2rem;
  text-overflow: clip;
  text-align: center;
}

.task-expanded-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color);
  z-index: 15;
  opacity: 0.5;
}

@media only screen and (max-width: 750px) {
  .task-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
    justify-items: center;
  }

  .task {
    max-width: 250px;
  }
}

@media only screen and (max-width: 610px) {
  .task-list {
    justify-items: center;
    grid-template-columns: 1fr;
  }

  .task {
    max-width: none;
    width: 80vw;
  }
}
