@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Colors */
  --bg: rgb(235, 235, 235);
  --color: rgb(0, 0, 0); /* black */
  --color-pop: rgb(255, 255, 255); /* white */
  --color-sub-text: rgb(89, 89, 89);
  --color-primary: rgb(0, 60, 255);
  --color-opt: rgb(0, 255, 170);
  --color-success: rgb(18, 184, 18);
  --color-danger: rgb(255, 41, 41);
  --color-shadow: rgb(0, 0, 0 / 0.276); /* Using modern syntax for alpha */

  /* Fonts */
  --font-normal: "Poppins", sans-serif;
  --font-heading: "Montserrat", sans-serif;
  --font-em: "Lato", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-normal);
  color: var(--color);
}

/* Default element styles */

body {
  background-color: var(--bg);
  color: var(--color);
  font-family: var(--font-normal);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* Animations */
@keyframes top-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bottom-to-top {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Custom elements */
.tabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tabs {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  margin: 15px 0;
  animation-name: bottom-to-top;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  max-width: 650px;
  width: 100%;
}

.tabs li {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabs li:hover {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.tabs .tab-active {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

/* Utility classes */

/* Element removal */

.hidden {
  display: none !important;
}

/* Font */
.font-em {
  font-family: var(--font-em);
  font-weight: 600;
}

/* Opacity */
.opacity-0 {
  opacity: 0;
}

/* Margins */
.m-auto {
  margin: auto;
}

/* Buttons */
.button-round {
  width: fit-content;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* Flexbox */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
